body {
  background-color: #020102;
  font-family: "Zeyada", cursive;
  font-size: 22px;
  margin: auto;
}

h1 {
  color: white;
  padding-left: 35vw;
  padding-bottom: 0;
}

p{
  top:10%;
}

h1:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 2px #f5ebb5, 0 0 3px #fcba03, 0 0 4px #fcba03,
    0 0 5px #eb6342, 0 0 6px #eb441e, 0 0 7px #f52c2c, 0 0 8px #f20505;
}

.image-scroll {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;

  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    /* background: #383d4d; */
    border-radius: 99em;
    border: 6px solid #1e1f26;
  }
}

.container {
  position: relative;
  margin: auto;
  text-align: center;
  color: white;
}

.btn {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  background: #97a2d1;
  cursor: pointer;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.btnVid {
  position: fixed;
  top: 20%;
  left: 16%;
  transform: translate(-50%, -50%);
  width: auto;
  /* height: 35vh; */
  font-size: 40px;  
  top:20%;
  background: transparent;
  border: 0cm;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.btnVid:hover {
  color:navajowhite;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.2rem;
  transition: background-color 0.2s ease;
}

ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
}

li {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 1.5rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  margin-left: -4px;
}

#pic {
  position: fixed;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 50vh;
}

#pic2 {
  position: fixed;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35vh;
}

#pic3 {
  position: fixed;
  top: 70%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35vh;
}

#pic5 {
  position: fixed;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 35vh;
}

#i1 {
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 45vh;
}

#i2 {
  position: fixed;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 45vh;
}

#text {
  position: fixed;
  font-size: 34px;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
  /* width:auto;
  height: 45vh; */
}

#t1 {
  background: #325aa8;
  position: fixed;
  font-size: 26px;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

#t2 {
  background: #244380;
  position: fixed;
  font-size: 26px;
  top: 20%;
  left: 15%;
}

#t3 {
  background: #244380;
  position: fixed;
  font-size: 26px;
  top: 10%;
  left: 65%;
}

#t4 {
  background: #325aa8;
  position: fixed;
  font-size: 26px;
  top: 68%;
  left: 10%;
}

#buttonssss {
  position: fixed;
  /* width: 100vw; */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttons2 {
  position: fixed;
  top: 88vh;
  left: 40vw;
  display: flex;
}
